/*
Colors used:
Black headlines: #232323;
Background color: #EEE6DD;
Primary color (yellow): #FDBF1E;
Secondary color (light orange): #EE653A;
Secondary color (dark orange): #E93621;
Secondary color (light pink): #F17B98;
Secondary color (dark pink): #ED047C;
*/

header{
  height: 100px;
  background-color: #EEE6DD;
}

main{
  padding-top: 400px;
  padding-bottom: 24px;
  flex: 1;
  background-color: #EEE6DD;
}

* {
  box-sizing: border-box;
  background: url(docs/gradient.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

body{
  font-family: "Zilla Slab";
  color: #232323;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.54px;
  flex: 1;
  background-color: #EEE6DD;
}

footer{
  border-top: 2.8px solid var(--Black, #232323);
  background: var(--Yellow, #FDBF1E);
}

.nav-list {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Align items horizontally */
  justify-content: center; /* Center the items */
}

h1{
  color: var(--Black, #232323);
  font-family: Lexend;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

h2{
  color: var(--Black, #232323);
  font-family: "Zilla Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

h3{
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.78px;
}

h4{
  font-family: Lexend;
  font-size: 14px;
  font-weight: 500;
}

img {
  width: 100%;
}

.container {
  padding: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-button{
  color: var(--Black, #232323);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding: 4px var(--Spacing, 16px);
  transition: all 0.5s;
  border-radius: 44px;   
  text-decoration: none; /* Añadido para quitar el subrayado */
}

.primary-button:hover{
 color: #F17B98;
 opacity: 0.8;
}

.activenav-btn{
  background-color: white;
  border-radius: 44px;
}

.secondary-button{
  border-radius: 44px;
  border: 2px solid #000;
  font-family: Zilla Slab;
  font-size: 16px;
  font-weight: 400;
  background: var(--Pink, #F17B98);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.5s;
  transition-property: opacity;
  text-decoration: none; /* Añadido para quitar el subrayado */
}

.secondary-button:hover{
  background: rgba(238, 179, 28)
}

#secondary-button {/* id selector */
  border-radius: 44px;
  border: 2px solid #000;
  background: #F17B98;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition-property: opacity;
  transition: all 0.5s;
  text-decoration: none; /* Añadido para quitar el subrayado */
}

.tertiary-button{
  color: var(--Black, #232323);
  font-family: "Zilla Slab";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
  transition: all 0.5s;
  text-decoration: none; /* Añadido para quitar el subrayado */
}

.tertiary-button:hover{
 opacity: 0.8;
}
  
ul{
  list-style: none;
  margin-block-end: 16px;
  margin-block-start: 16px;
}

.nav-btn{
  font-size: 14px;
  display: inline-block;
  margin: 4px;
}

.menu {
  display: block;
  width: 400px;
  float: right;
  margin-top: 20px;
}

.logo{
  width: 120px ;
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.row{
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.social{
  text-decoration: none;
}

.social img{
  height: 40px;
  width: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun{
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front{
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

cloud-back{
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  .primary-button{
    font-size: 16px
  }

  .col-md-5 {
    width: 50%;
    }

  .col-md-4 {
    width: 40%;
  }

  .col-md-6 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
    padding: 8px;
  }
}

@media only screen and (min-width: 1024px) {

  .primary-button{
    font-size: 16px
  }

  .col-md-5 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 8px;
  }
}

@media only screen and (min-width: 1440px) {

  .primary-button{
    font-size: 16px
  }

  .col-md-5 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 8px;
  }
},