/*
Colors used:
Black headlines: #232323;
Background color: #EEE6DD;
Primary color (yellow): #FDBF1E;
Secondary color (light orange): #EE653A;
Secondary color (dark orange): #E93621;
Secondary color (light pink): #F17B98;
Secondary color (dark pink): #ED047C;
*/

header{
  background-color: #EEE6DD;
  background-image: url(img/gradient.jpeg); /* Path to your background image */
  background-size: cover; /* Make sure the image covers the entire header */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100px; /* Adjust height as needed */
  color: white; /* Text color */
  display: inline-block; /* Center content horizontally */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text */
  padding: 28px;
  position: fixed;
  box-shadow: 2px 2px 4px 0px #C5B9AC;
}

main{
  padding-top: 400px;
  padding-bottom: 24px;
}
* {
  box-sizing: border-box;
}

body{
    background-color: #EEE6DD;
    font-family: "Zilla Slab";
    color: #232323;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
}

footer{
  border-top: 2.8px solid var(--Black, #232323);
  background: var(--Yellow, #FDBF1E);
}

h1{
  color: var(--Black, #232323);
  font-family: Lexend;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

h2{
  color: var(--Black, #232323);
  font-family: "Zilla Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

h3{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.78px;
}

img {
    width: 100%;
}

.container {
  padding: 0 16px;
}

  .primary-button{
    color: var(--Black, #232323);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.5s;
    border-radius: 44px;   
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  .primary-button:hover{
    background: rgba(255, 255, 255, .5);
    transition: all 0.5;
}

  .secondary-button{
    border-radius: 44px;
    border: 2px solid #000;
    font-family: Zilla Slab;
    font-size: 16px;
    font-weight: 400;
    background: var(--Pink, #F17B98);
        padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  .secondary-button:hover{
    background: rgba(238, 179, 28)
}

  #secondary-button {/* id selector */
    border-radius: 44px;
    border: 2px solid #000;
    background: #F17B98;
        padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  .tertiary-button{
    color: var(--Black, #232323);
    font-family: "Zilla Slab";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.24px;
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  ul{
    list-style: none;
    margin-block-end: 16px;
    margin-block-start: 16px;
}

  .nav-btn{
    font-size: 14px;
    display: inline-block;
    margin: 4px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
},

