/*
Colors used:
Black headlines: #232323;
Background color: #EEE6DD;
Primary color (yellow): #FDBF1E;
Secondary color (light orange): #EE653A;
Secondary color (dark orange): #E93621;
Secondary color (light pink): #F17B98;
Secondary color (dark pink): #ED047C;
*/

body{
    background-color: #EEE6DD;
    font-family: "Zilla Slab";
    color: #232323;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
}

h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

h2{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

img {
    width: 100%;
}

  .primary-button{
    color: var(--Black, #232323);
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.5s;
    border-radius: 44px;   
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  .primary-button:hover{
    background: rgba(255, 255, 255, .5);
    transition: all 0.5;
}

  .secondary-button{
    border-radius: 44px;
    border: 2px solid #000;
    background: var(--Yellow, #FDBF1E);
        padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  .secondary-button:hover{
    background: rgba(238, 179, 28)
}
  .tertiary-button{
    color: var(--Black, #232323);
    font-family: "Zilla Slab";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.24px;
    text-decoration: none; /* Añadido para quitar el subrayado */
}

  ul{
    list-style: none;
}

  .nav-btn{
    display: inline-block;
    margin: 10px;
},
